@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body,html{
    background-color: #f0f0f0;
    padding: auto;
    margin: auto;
    height: 100%;
    overflow: hidden;
    font-family: 'Play';
    line-height: 1;
}
.ralf{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.nav{
    background-color: black;
    padding: auto;
    text-align: center;   
}
nav{
    margin: 10px;
}
a{
    color: #00ffff;
    padding: 10px;
    outline: none;
    font-size: 25px;
    text-decoration: none;
}
a:hover{
    text-shadow:2px 2px 0px #fb04fb;
}
.main{
    flex: 1 1 auto;
}
footer{
    text-align: center;
    font-size: 25px;
    font-family: 'Play';
    padding: 20px;
    color: #00ffff;
    background-color: black;
    text-shadow:2px 2px 0px #fb04fb;
}